<a href="/profiles">Account Profiles</a><br />
<a href="/channels">Channels</a><br />
<a href="/freebusy">Free busy</a><br />
<a href="/enterpriseconnect">Enterprise Connect</a><br />
<a href="/availability">Availability API</a>