@model CronofyCSharpSampleApp.Persistence.Models.EnterpriseConnectUserData

<h2>@Model.Email - Calendars</h2>

@foreach (var profile in ViewData["profiles"] as IDictionary<Cronofy.Profile, Cronofy.Calendar[]>){
  <h3>@profile.Key.Name</h3>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        @foreach(var calendar in profile.Value){
        <tr>
          <td>
            @calendar.Name
          </td>
          <td>
            <a href="/serviceaccountusers/show/@Model.CronofyUID/calendar/@calendar.CalendarId">
              View
            </a>
          </td>
        </tr>
        }
    </tbody>
  </table>
}